$iconsFontFamily: 'HomeIcons';

$icon-rx: "\211e";
$icon-lamp: "\1f6cb";
$icon-godfather: "\1f1ee";
$icon-cookie: "\1f36a";
$icon-litecoin: "\141";
$icon-asian: "";
$icon-goomba: "\e900";
$icon-startrek: "\1f596";
$icon-crown: "\1f451";
$icon-mushrooms: "\1f344";
$icon-bear: "\1f43b";
$icon-flask: "\e90d";
$icon-treats: "\1f36d";
$icon-viscera: "\e90a";
$icon-gemini: "\47";
$icon-octopus: "\1f419";
$icon-cat: "\1f408";
$icon-cannabis: "\1f33f";
$icon-cart: "\1f6d2";
$icon-write: "\270f";
$icon-reply: "\21a9";
$icon-trash: "\1f5d1";
$icon-envelope: "\2709";
$icon-bell: "\1f514";
$icon-cog: "\2699";
$icon-browser: "\1f441";
$icon-windows: "\1f440";
$icon-angle-down: "\25bc";
$icon-angle-right: "\25b6";
$icon-angle-up: "\25b2";
$icon-backward: "\23ea";
$icon-bitcoin: "\243";
$icon-btc: "\243";
$icon-calendar: "\1f4c5";
$icon-camera: "\1f4f7";
$icon-caret-down: "\2b07";
$icon-caret-left: "\2b05";
$icon-caret-right: "\27a1";
$icon-caret-up: "\2b06";
$icon-check: "\2705";
$icon-check-square: "\2611";
$icon-circle-o: "\26aa";
$icon-clock-o: "\1f552";
$icon-times: "\2716";
$icon-code: "\1f5b1";
$icon-coffee: "\2615";
$icon-comment: "\1f4ac";
$icon-dollar: "\24";
$icon-usd: "\24";
$icon-dot-circle-o: "\1f518";
$icon-ellipsis-h: "\2026";
$icon-exchange: "\1f500";
$icon-exclamation-circle: "\2755";
$icon-exclamation-triangle: "\2757";
$icon-warning: "\2757";
$icon-rss: "\1f4fb";
$icon-flag: "\1f6a9";
$icon-save: "\1f4be";
$icon-gavel: "\2696";
$icon-gift: "\1f381";
$icon-users: "\1f465";
$icon-hashtag: "\23";
$icon-heart: "\2764";
$icon-home: "\1f3e0";
$icon-info: "\2139";
$icon-key: "\1f511";
$icon-lock: "\1f512";
$icon-map-marker: "\1f4cd";
$icon-paper-plane: "\1f4e9";
$icon-pause: "\23f8";
$icon-plane: "\2708";
$icon-play: "\23ef";
$icon-plus: "\271a";
$icon-question: "\3f";
$icon-quote-left: "\22";
$icon-refresh: "\1f504";
$icon-undo: "\1f519";
$icon-search: "\1f50d";
$icon-shield: "\1f6e1";
$icon-square: "\25fc";
$icon-star: "\2605";
$icon-star-half: "\f089";
$icon-star-half-empty: "\f123";
$icon-star-half-full: "\f123";
$icon-star-half-o: "\f123";
$icon-star-o: "\f006";
$icon-tags: "\1f3f7";
$icon-th-list: "\f00b";
$icon-thumbs-down: "\1f44e";
$icon-thumbs-up: "\1f44d";
$icon-truck: "\1f69a";
$icon-user: "\1f464";
$icon-sound: "\1f509";

