{% include 'ucp_header.html' %}

<form id="ucp" method="post" action="{{ S_UCP_ACTION }}"{{ S_FORM_ENCTYPE }}>
    <div class="panel">
        <div class="inner">
            <h2>{{ lang('TFA_BACKUP_KEY') }}</h2>
            <p>{{ lang('TFA_BACKUP_KEY_EXPLAIN') }}</p>
            {{ S_FORM_TOKEN }}
            {{ S_HIDDEN_FIELDS }}
            <table class="table1">
                <thead>
                <tr>
                    <th class="name">{{ lang('TFA_REGISTERED') }}</th>
                    <th class="center">{{ lang('TFA_KEY') }}</th>
                </tr>
                </thead>
                <tbody>
                {% for row in backup %}
                    <tr class="bg{{ loop.index is even ? 1 : 2 }}">
                        <td>{{ row.DATE }}</td>
                        <td class="center" style="font-size: 1.2em;">{{ row.KEY }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>

            <input type="hidden" name="md" value="{{ lang('TFA_NEW') }}" />
            <input type="submit" name="md" id="add_key" value="{{ lang('SUBMIT') }}" class="button1"  />
            <input type="hidden" name="register" id="register" value="" />
        </div>
    </div>
</form>

{% include 'ucp_footer.html' %}
